html,body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    font-size: 1.1em;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    font-weight: 700;
}
nav div div ul li a{
    font-size: 0.9em;
}
nav div div ul li a:hover{
    color: #fd7e14 !important;
}
nav div ul #booknow{
    background-color: #fd7e14 !important;
}
nav div ul #booknow a{
    color: #fff !important;
}
nav div a:hover{
    text-decoration: none;
}
#sec1 div ul li img{
    height: 650px !important;
}
#sec2{
    background-color:#f8f9fa;
}
#sec2 form div.row{
    background-color: #fff;
    font-size: 0.8em;
}
#sec2 form input{
    border: 1px solid #e5e5e5;
    padding: 0 10px;
    widows: 100%;
    height: 40px;
    color: #666;
}
#sec2 form button{
    padding: 0 10px;
    widows: 100%;
    height: 40px;
    color: #fff;
    background-color: #fd7e14;
}
#sec3 div div ul li{
    height: 500px;
}
#sec3 div div ul li div{
    display: block;
    height: 100%;
}
#sec3 div div ul li img{
    width:100%;
    height: 100%;
}
#sec3 #video button{
    background-color:#fd7e14;
    color: #fff;
}
#sec4{
    background-color: #f8f9fa;
}
#sec4 div div ul li div div a{
    color: #fff;
    background-color: #fd7e14;
}
#sec4 div div ul li div div a:hover{
    text-decoration: none;
}
#sec5 .uk-tab>.uk-active>a{
    border-color: #fd7e14;
}
#sec5 div ul li img{
    width: 150px;
    height: 150px;
}
#sec6{
    background-image: url("/assets/images/hero_4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#sec6 div.row{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8% 5%;
}
#sec6 div div h3{
    color: #fff;
}
#sec6 div div a{
    color: #fff;
    background-color: #fd7e14;
    padding: 2% 3%;
}
#sec6 div div a:hover{
    text-decoration: none;
}
#sec7 div div div form{
    border: #ced4da solid 1px;
    padding: 2%;
    border-radius: 0.25rem;
}
#sec7 div div div form button{
    color: #fff;
    background-color: #fd7e14;
    width: 50%;
    font-size: 1.2em;
}
footer{
    background-image: url(/assets/images/footer-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
    background-size: cover;
}
footer div#overlay{
    background-color: rgba(0, 0, 0, 0.7);
}
footer div div ul li{
    color: #fff;
}
footer div div div ul li span{
    margin-right: 2% !important;
}
footer div div div a{
    color: #fff;
    background-color: #fd7e14;
    padding: 2% 5%;
}
footer div div ul li a{
    color: #fff;
    background: inherit;
    padding:0;
}
footer div div a:hover{
    color: #fff;
    text-decoration: none;
}
footer div div p{
    color: #fff;
}
footer div div p a {
    background: inherit;
    padding: 0;
    color: #777;
}
#book-now-sec{
    background-image: url("/assets/images/f3178ca7b8b3835352c8a0a2672ac7fd.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#book-now-sec div{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10%;
}
#book-now-sec div h1{
    color: #fff;
}
#book-now-sec2{
    background-color: #f8f9fa;
}
#book-now-sec2 div form{
    background-color:#fff;
    padding: 5%;
}
#book-now-sec2 div form button{
    color: #fff;
    background-color: #fd7e14;
    width: 50%;
}